# Ignore Visual Studio specific files
.vs/
*.user
*.suo
*.cache
*.csproj.user

# Ignore build artifacts
bin/
obj/

# Ignore Rider-specific files
.idea/

# Ignore NuGet packages
packages/
*.nupkg
project.lock.json

# Ignore compiled files
*.dll
*.exe
*.pdb

# Ignore logs and temporary files
*.log
*.tmp
